@model FinalWork.Models.Clientes

@{
    ViewBag.Title = "Detalhes";
}

<h2>Detalhes e Informações</h2>

<div>
    <h4>Clientes</h4>
    <br />
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Contacto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Contacto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Contribuinte)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Contribuinte)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Mail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mail)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.ClienteID }) |
    @Html.ActionLink("Voltar à Listagem", "Index")
</p>
