@model IEnumerable<_1stVersionFinalWork.Models.Clientes>

@{
    ViewBag.Title = "Clientes";
}

<h2>Listagem de Clientes</h2>


</br>
</br>
<p>
    @Html.ActionLink("Criar Novo", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Contacto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Contribuinte)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Mail)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Contacto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Contribuinte)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Mail)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.ClienteID }) |
            @Html.ActionLink("Detalhes", "Details", new { id=item.ClienteID }) |
            @Html.ActionLink("Eliminar", "Delete", new { id=item.ClienteID })
        </td>
    </tr>
}

</table>
