@model _1stVersionFinalWork.Models.Encomendas
@*@model IEnumerable<_1stVersionFinalWork.Models.Encomendas>*@
@* a linha de cima representa a lista de 'itens' de uma determinada encomenda *@
@*ItensEncomenda *@

@{
    ViewBag.Title = "Eliminação";
}

<h2>Eliminar Encomenda</h2>

<h3>Tem a certeza que deseja eliminar a Encomenda?</h3>
<div>
    <h4>Encomendas</h4>
    <br />
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Dono.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Dono.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Jornada.Descricao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Jornada.Descricao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LocalExpedicao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LocalExpedicao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataExpedicao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataExpedicao)
        </dd>
        <dd>
            [ @Html.ActionLink("Ver Detalhes da Encomenda", "Details", new { id = Model.EncomendaID }) ]
        </dd>
    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-default" /> |
            @Html.ActionLink("Voltar à Listagem", "Index")
        </div>
    }
</div>
