@model _1stVersionFinalWork.Models.Encomendas

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Encomendas</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Dono.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Dono.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Jornada.Descricao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Jornada.Descricao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LocalExpedicao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LocalExpedicao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataExpedicao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataExpedicao)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.EncomendaID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
