@model IEnumerable<_1stVersionFinalWork.Models.Encomendas>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Dono.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Jornada.Descricao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LocalExpedicao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataExpedicao)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Dono.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Jornada.Descricao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LocalExpedicao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataExpedicao)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.EncomendaID }) |
            @Html.ActionLink("Details", "Details", new { id=item.EncomendaID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.EncomendaID })
        </td>
    </tr>
}

</table>
