@model IEnumerable<FinalWork.Models.Mensagens>

<br />
@{
    ViewBag.Title = "Mensagens";
}

<h2>Listagem de Mensagens</h2>
<br />

<p>
    <b>@Html.ActionLink("Nova Mensagem", "Create")</b>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DonoDaMensagem.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tipo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Texto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Data)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Respondida)
        </th>

        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DonoDaMensagem.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tipo.Descricao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Texto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Data)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Respondida)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.MensagemID }) |
            @Html.ActionLink("Detalhes", "Details", new { id=item.MensagemID }) |
            @Html.ActionLink("Eliminar", "Delete", new { id=item.MensagemID })
        </td>
    </tr>
}

</table>
